<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container>
            <v-layout column>
              <v-flex mb-2 title>Gradient Descent for Linear Regression</v-flex>
              <v-flex mb-2>
                <v-card>
                  <v-container>Use gradient descent to calculate the optimal values of <b>m</b> and <b>c</b> in the linear regression equation <b>y = mx + c</b> that minimises the cost function of least-squares method <b>J = <sup>1</sup>&frasl;<sub>n</sub> &Sigma; (y<sub>i</sub> - y&#770;<sub>i</sub>)<sup>2</sup></b>.</v-container>
                </v-card>
              </v-flex>
              <v-flex mb-2>
                <v-card>
                  <v-container class="body-2">
                    <v-layout wrap>
                      <v-flex xs12>CSV file: <input type="file" @change="getFileMeta"></v-flex>
                      <v-flex xs12><v-switch label="header in file" v-model="data.header_in_file"></v-switch></v-flex>
                      <v-flex xs12 sm6 px-2><v-btn block @click="readFile" :disabled="!data.file">load&nbsp;file</v-btn></v-flex>
                      <v-flex xs12 sm6 px-2><v-btn block @click="display_data = !display_data" :disabled="data.data.length <= 0">{{ display_data ? 'hide' : 'show' }}&nbsp;data</v-btn></v-flex>
                      <v-flex xs12 v-show="display_data && data.data.length > 0">
                        <v-data-table
                          :headers="data_col"
                          :items="data_for_table"
                        ></v-data-table>
                      </v-flex>
                      <v-flex xs12 sm6 px-2 v-show="data.data.length > 0"><v-select :items="data_col" label="independent variable, x" v-model="data.horiz"></v-select></v-flex>
                      <v-flex xs12 sm6 px-2 v-show="data.data.length > 0"><v-select :items="data_col" label="dependent variable, y" v-model="data.vert"></v-select></v-flex>
                      <v-flex my-2 xs12><v-divider></v-divider></v-flex>
                      <v-flex xs12>Initial values:</v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="m" :rules="[isNumeric]" v-model.number="initial.m"></v-text-field></v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="c" :rules="[isNumeric]" v-model.number="initial.c"></v-text-field></v-flex>
                      <v-flex xs12 sm12 md4 px-2><v-btn block @click="randomise">randomise</v-btn></v-flex>
                      <v-flex my-2 xs12><v-divider></v-divider></v-flex>
                      <v-flex xs12><v-text-field label="learning rate, &alpha;" :rules="[isNumeric]" v-model.number="learning_rate"></v-text-field></v-flex>
                      <v-flex my-2 xs12><v-divider></v-divider></v-flex>
                      <v-flex xs12>Termination condition:</v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="cost, J" :rules="[isNumeric]" v-model.number="termination.cost"></v-text-field></v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="change in cost, &Delta;J" :rules="[isNumeric]" v-model.number="termination.change_in_cost"></v-text-field></v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="maximum epoch" :rules="[isNumeric]" type="number" v-model.number="termination.max_epoch"></v-text-field></v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
              <v-flex mb-2>
                <v-flex xs12><v-btn block @click="startGD" :disabled="data.data.length <= 0">Start</v-btn></v-flex>
              </v-flex>
              <v-flex mb-2 v-if="gd_proc.epoch.length > 0">
                <v-card>
                  <v-container class="body-2">
                    <v-flex xs12 title>Training result</v-flex>
                    <v-flex xs12><v-slider label="epoch number" v-model="display_epoch" :min="0" :max="gd_proc.epoch.length-1" always-dirty thumb-label="always"></v-slider></v-flex>
                    <v-flex my-2><v-divider></v-divider></v-flex>
                    <v-layout row wrap>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="m" v-model.number="gd_proc.epoch[parseInt(display_epoch)].m" disabled></v-text-field></v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="c" v-model.number="gd_proc.epoch[parseInt(display_epoch)].c" disabled></v-text-field></v-flex>
                      <v-flex xs12 sm6 md4 px-2><v-text-field label="cost" v-model.number="gd_proc.epoch[parseInt(display_epoch)].cost" disabled></v-text-field></v-flex>
                    </v-layout>
                    <v-flex xs12><v-btn block @click="display_epoch_table = !display_epoch_table" :disabled="epoch_table_col.length <= 0">{{ display_epoch_table ? 'hide' : 'show' }}&nbsp;data</v-btn></v-flex>
                    <v-flex xs12 v-show="display_epoch_table">
                      <v-data-table :headers="epoch_table_col" :items="epoch_table_data"></v-data-table>
                    </v-flex>
                    <v-flex xs12>
                      <svg id="oneEpochChart" class="chart"></svg>
                    </v-flex>
                  </v-container>
                </v-card>
              </v-flex>
              <v-flex mb-2 v-if="gd_proc.epoch.length > 0">
                <v-card>
                  <v-container class="body-2">
                    <v-flex xs12 title>Analysis of training</v-flex>
                    <v-flex xs12><svg id="epochCostChart" class="chart"></svg></v-flex>
                    <v-flex xs12><svg id="epochMChart" class="chart"></svg></v-flex>
                    <v-flex xs12><svg id="epochCChart" class="chart"></svg></v-flex>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <div class="tooltip" id="chartTooltip"></div>

    <style>
      .chart { 
        width: 100%; 
        height: 300px;
      }
      .tooltip {
        background-color: white;
        padding: 5px;
        overflow: visible;
        white-space: nowrap;
        position: absolute;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          data: {
            file: null,
            data: [],
            columns: [],
            header_in_file: false,
            horiz: "",
            vert: ""
          },
          initial: {
            m: 0.01,
            c: 0.01
          },
          learning_rate: 0.1,
          termination: {
            cost: 0.01,
            max_epoch: 100,
            change_in_cost: 0.001
          },
          display_data: false,
          display_epoch_table: true,
          gd_proc: {
            data: {
              file: null,
              data: [],
              columns: []
            },
            epoch: [],
            learning_rate: 0,
            termination: {
              cost: 0,
              max_epoch: 0
            },
            col: {
              horiz: "",
              vert: ""
            }
          },
          display_epoch: 0
        },
        computed: {
          data_col: function () {
            if (this.data.data.length > 0) {
              let dt = this.data.columns.length > 0 ? this.data.columns : [...Array(this.data.data[0].length).keys()];
              return dt.map(v => ({
                text: String(v),
                value: String(v)
              }))
            };
          },
          data_for_table: function () {
            if (this.data.data.length > 0) {
              return this.data.data.map(r => {
                let item = {};
                r.forEach((v,i) => {
                  item[this.data_col[i].text] = v;
                });
                return item;
              });
            }
          },
          epoch_table_col: function () {
            return this.gd_proc.epoch[parseInt(this.display_epoch)].columns.map(v => ({text: v, value: v}));
          },
          epoch_table_data: function () {
            return this.gd_proc.epoch[parseInt(this.display_epoch)].data.map(r => {
              let item = {};
              r.forEach((v,i) => {
                item[this.epoch_table_col[i].text] = v;
              });
              return item;
            });
              
          }
        },
        watch: {
          display_epoch: function () {
            this.showGraph();
          }
        },
        methods: {
          isNumeric: val => !isNaN(val) || `${val||'&lt;empty&gt;'} is not a number. Only numerical value is allowed.`,
          randomise: function () {
            this.$set(this.initial, 'm', Math.round(Math.random()*100)/100);
            this.$set(this.initial, 'c', Math.round(Math.random()*100)/100);
          },
          getFileMeta: function (ev) {
            this.$set(this.data, 'file', ev.target.files[0]);
          },
          readFile: function () {
            this.$set(this.data, 'data', []);
            this.$set(this.data, 'columns', []);
            let reader = new FileReader();
            reader.onload = this.loadFile;
            reader.readAsText(this.data.file);
          },
          loadFile: function (ev) {
            let allTextLines = ev.target.result.split(/\r\n|\n/);
            let lines = allTextLines.map((l, i) => {
              if (this.data.header_in_file && i == 0) {
                this.$set(this.data, 'columns', l.split(','));
              } else {
                return [...l.split(',')];
              }
            });
            this.$set(this.data, 'data', lines.filter(x => x && x.length == this.data.columns.length));
            this.$set(this.data, 'horiz', this.data_col[0].value);
            this.$set(this.data, 'vert', this.data_col[1].value);
            // console.log(this.data.columns,this.data.data);
          },
          startGD: function () {
            this.display_epoch = 0;
            this.$set(this.gd_proc.data, 'file', this.data.file.name);
            this.$set(this.gd_proc, 'learning_rate', this.learning_rate);
            this.$set(this.gd_proc.termination, 'cost', this.termination.cost);
            this.$set(this.gd_proc.termination, 'max_epoch', this.termination.max_epoch);
            this.$set(this.gd_proc.termination, 'change_in_cost', this.termination.change_in_cost);
            this.$set(this.gd_proc.col, 'horiz', this.data.horiz);
            this.$set(this.gd_proc.col, 'vert', this.data.vert);
            this.$set(this.gd_proc.data, 'columns', [this.data.horiz, this.data.vert]);
            let hi = this.data.columns.indexOf(this.data.horiz);
            let vi = this.data.columns.indexOf(this.data.vert);
            this.$set(this.gd_proc.data, 'data', this.data.data.map(v => [parseFloat(v[hi]), parseFloat(v[vi])]));
            this.$set(this.gd_proc, 'epoch', []);
            let m = this.initial.m;
            let c = this.initial.c;
            let epoch;
            this.gd_proc.epoch.push(this.computeEpoch(m,c));
            while (
              this.gd_proc.epoch.length < this.gd_proc.termination.max_epoch 
              && this.gd_proc.epoch[this.gd_proc.epoch.length-1].cost > this.gd_proc.termination.cost
              && (this.gd_proc.epoch.length > 1 ? Math.abs(this.gd_proc.epoch[this.gd_proc.epoch.length-1].cost - this.gd_proc.epoch[this.gd_proc.epoch.length-2].cost) > this.gd_proc.termination.change_in_cost : true)
            ) {
              this.gd_proc.epoch.push(this.computeEpoch(...this.updateMandC(this.gd_proc.epoch[this.gd_proc.epoch.length-1])));
            }
            this.$nextTick(() => { 
              this.showGraph();
              this.showAnalysis();
            });
          },
          computeEpoch: function (m, c) {
            let epoch = {
              m: m,
              c: c,
              columns: this.gd_proc.data.columns.concat(['yh', 'y-yh']),
            };
            epoch.data = this.gd_proc.data.data.map(dt => {
              let yh = m*dt[0] + c;
              return [dt[0], dt[1], yh, dt[1]-yh];
            });
            epoch.cost = epoch.data.reduce((acc, dt) => acc + dt[3]**2, 0) / epoch.data.length;
            return epoch;
          },
          updateMandC: function (epoch) {
            let delJm = epoch.data.reduce((acc, dt) => acc + dt[0] * (dt[1] - epoch.m * dt[0] - epoch.c), 0) * (-2) / epoch.data.length;
            let delJc = epoch.data.reduce((acc, dt) => acc + dt[1] - epoch.m * dt[0] - epoch.c, 0) * (-2) / epoch.data.length;
            let newm = epoch.m - this.gd_proc.learning_rate * delJm;
            let newc = epoch.c - this.gd_proc.learning_rate * delJc;
            return [newm, newc];
          },
          getChartInfo: function (chartId) {
            let chart = d3.select(`#${chartId}`);
            chart.selectAll("*").remove();
            let getl = s => parseInt(window.getComputedStyle(document.getElementById(chartId)).getPropertyValue(s)) || 0;
            let dim = {
              w: getl("width"),
              h: getl("height"),
              padding: {
                left: 50,
                bottom: 30,
                right: 10,
                top: 10
              },
              margin: {
                left: 0,
                bottom: 0,
                right: 0,
                top: 0
              },
              label: {
                bottom: 20,
                left: 20
              }
            }
            return {
              handle: chart,
              dim: dim
            }
          },
          showGraph: function () {
            let chart = this.getChartInfo("oneEpochChart");
            let graph = chart.handle.append("g")
              .attr("transform", "translate(" + chart.dim.margin.left + "," + chart.dim.margin.top + ")");
            let xAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.data.data, d => d[0]), d3.max(this.gd_proc.data.data, d => d[0])])
              .range([chart.dim.padding.left+chart.dim.label.left, chart.dim.w-chart.dim.padding.right]);
            let yAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.data.data, d => d[1]), d3.max(this.gd_proc.data.data, d => d[1])])
              .range([chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom, chart.dim.padding.top]);
            graph.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(" + 0 + ", " + (chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom) + ")")
              .call(d3.axisBottom(xAxis));
            graph.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (chart.dim.padding.left+chart.dim.label.left) + ", " + 0 + ")")
              .call(d3.axisLeft(yAxis));
            graph.append("text")
              .attr("transform", "translate(" + (xAxis.range()[0]+xAxis.range()[1])/2 + ", " + (chart.dim.h-chart.dim.label.bottom) + ")")
              .style("text-anchor", "middle")
              .style("dominant-baseline", "hanging")
              .text("x");
            graph.append("text")
              .attr("transform", `translate(${chart.dim.label.left},${(yAxis.range()[0]+yAxis.range()[1])/2}) rotate(-90)`)
              .style("text-anchor", "middle")
              .style("dominant-baseline", "baseline")
              .text("y");
            graph.selectAll(".dot")
              .data(this.gd_proc.data.data)
              .enter().append("circle")
                .attr("class", "dot")
                .attr("cx", d => xAxis(d[0]))
                .attr("cy", d => yAxis(d[1]))
                .attr("r", 5)
                .attr("fill", "#9c27b0")
                .attr("opacity", .8)
                .on("mouseover", d => {
                  let tooltip = d3.select("#chartTooltip");
                  tooltip.html(`${d[0]}, ${d[1]}`)
                    .style("left", `${d3.event.pageX-10}px`)
                    .style("top", `${d3.event.pageY-40}px`);
                  tooltip.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                })
                .on("mouseout", d => {
                  d3.select("#chartTooltip")
                    .transition()
                    .duration(200)
                    .style("opacity", 0);
                });
            graph.append("path")
              .datum(this.gd_proc.data.data.map(dt => [dt[0], this.gd_proc.epoch[parseInt(this.display_epoch)].m * dt[0] + this.gd_proc.epoch[parseInt(this.display_epoch)].c]))
              .attr("fill", "none")
              .attr("stroke", "#009688")
              .attr("stroke-width", 2)
              .attr("stroke-linejoin", "round")
              .attr("stroke-linecap", "round")
              .attr("d", d3.line()
                .x(d => xAxis(d[0]))
                .y(d => yAxis(d[1]))
              );
            graph.selectAll(".linedot")
              .data(this.gd_proc.data.data.map(dt => [dt[0], this.gd_proc.epoch[parseInt(this.display_epoch)].m * dt[0] + this.gd_proc.epoch[parseInt(this.display_epoch)].c]))
              .enter().append("circle")
                .attr("class", "linedot")
                .attr("cx", d => xAxis(d[0]))
                .attr("cy", d => yAxis(d[1]))
                .attr("r", 3)
                .attr("fill", "#009688")
                .attr("opacity", .8)
                .on("mouseover", d => {
                  let tooltip = d3.select("#chartTooltip");
                  tooltip.html(`${d[0]}, ${Math.round(d[1]*1000)/1000}`)
                    .style("left", `${d3.event.pageX-10}px`)
                    .style("top", `${d3.event.pageY-40}px`);
                  tooltip.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                })
                .on("mouseout", d => {
                  d3.select("#chartTooltip")
                    .transition()
                    .duration(200)
                    .style("opacity", 0);
                });
          },
          showAnalysis: function () {
            // value of cost
            let chart = this.getChartInfo("epochCostChart");
            let graph = chart.handle.append("g")
              .attr("transform", "translate(" + chart.dim.margin.left + "," + chart.dim.margin.top + ")");
            let xAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, (d,i) => i), d3.max(this.gd_proc.epoch, (d,i) => i)])
              .range([chart.dim.padding.left+chart.dim.label.left, chart.dim.w-chart.dim.padding.right]);
            let yAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, d => d.cost), d3.max(this.gd_proc.epoch, d => d.cost)])
              .range([chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom, chart.dim.padding.top]);
            graph.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(" + 0 + ", " + (chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom) + ")")
              .call(d3.axisBottom(xAxis));
            graph.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (chart.dim.padding.left+chart.dim.label.left) + ", " + 0 + ")")
              .call(d3.axisLeft(yAxis));
            graph.append("text")
              .attr("transform", "translate(" + (xAxis.range()[0]+xAxis.range()[1])/2 + ", " + (chart.dim.h-chart.dim.label.bottom) + ")")
              .style("text-anchor", "middle")
              .style("dominant-baseline", "hanging")
              .text("Epoch Number");
            graph.append("text")
              .attr("transform", `translate(${chart.dim.label.left},${(yAxis.range()[0]+yAxis.range()[1])/2}) rotate(-90)`)
              .style("text-anchor", "middle")
              .style("dominant-baseline", "baseline")
              .text("Cost");
            graph.selectAll(".dot")
              .data(this.gd_proc.epoch)
              .enter().append("circle")
                .attr("class", "dot")
                .attr("cx", (d,i) => xAxis(i))
                .attr("cy", d => yAxis(d.cost))
                .attr("r", 5)
                .attr("fill", "#9c27b0")
                .attr("opacity", .8)
                .on("mouseover", (d,i) => {
                  let tooltip = d3.select("#chartTooltip");
                  tooltip.html(`${i}, ${Math.round(d.cost*1000)/1000}`)
                    .style("left", `${d3.event.pageX-10}px`)
                    .style("top", `${d3.event.pageY-40}px`);
                  tooltip.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                })
                .on("mouseout", d => {
                  d3.select("#chartTooltip")
                    .transition()
                    .duration(200)
                    .style("opacity", 0);
                });

            // value of m
            chart = this.getChartInfo("epochMChart");
            graph = chart.handle.append("g")
              .attr("transform", "translate(" + chart.dim.margin.left + "," + chart.dim.margin.top + ")");
            xAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, (d,i) => i), d3.max(this.gd_proc.epoch, (d,i) => i)])
              .range([chart.dim.padding.left+chart.dim.label.left, chart.dim.w-chart.dim.padding.right]);
            yAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, d => d.m), d3.max(this.gd_proc.epoch, d => d.m)])
              .range([chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom, chart.dim.padding.top]);
            graph.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(" + 0 + ", " + (chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom) + ")")
              .call(d3.axisBottom(xAxis));
            graph.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (chart.dim.padding.left+chart.dim.label.left) + ", " + 0 + ")")
              .call(d3.axisLeft(yAxis));
            graph.append("text")
              .attr("transform", "translate(" + (xAxis.range()[0]+xAxis.range()[1])/2 + ", " + (chart.dim.h-chart.dim.label.bottom) + ")")
              .style("text-anchor", "middle")
              .style("dominant-baseline", "hanging")
              .text("Epoch Number");
            graph.append("text")
              .attr("transform", `translate(${chart.dim.label.left},${(yAxis.range()[0]+yAxis.range()[1])/2}) rotate(-90)`)
              .style("text-anchor", "middle")
              .style("dominant-baseline", "baseline")
              .text("m");
            graph.selectAll(".dot")
              .data(this.gd_proc.epoch)
              .enter().append("circle")
                .attr("class", "dot")
                .attr("cx", (d,i) => xAxis(i))
                .attr("cy", d => yAxis(d.m))
                .attr("r", 5)
                .attr("fill", "#9c27b0")
                .attr("opacity", .8)
                .on("mouseover", (d,i) => {
                  let tooltip = d3.select("#chartTooltip");
                  tooltip.html(`${i}, ${Math.round(d.m*1000)/1000}`)
                    .style("left", `${d3.event.pageX-10}px`)
                    .style("top", `${d3.event.pageY-40}px`);
                  tooltip.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                })
                .on("mouseout", d => {
                  d3.select("#chartTooltip")
                    .transition()
                    .duration(200)
                    .style("opacity", 0);
                });

            // value of c
            chart = this.getChartInfo("epochCChart");
            graph = chart.handle.append("g")
              .attr("transform", "translate(" + chart.dim.margin.left + "," + chart.dim.margin.top + ")");
            xAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, (d,i) => i), d3.max(this.gd_proc.epoch, (d,i) => i)])
              .range([chart.dim.padding.left+chart.dim.label.left, chart.dim.w-chart.dim.padding.right]);
            yAxis = d3.scaleLinear()
              .domain([d3.min(this.gd_proc.epoch, d => d.c), d3.max(this.gd_proc.epoch, d => d.c)])
              .range([chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom, chart.dim.padding.top]);
            graph.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(" + 0 + ", " + (chart.dim.h-chart.dim.padding.bottom-chart.dim.label.bottom) + ")")
              .call(d3.axisBottom(xAxis));
            graph.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (chart.dim.padding.left+chart.dim.label.left) + ", " + 0 + ")")
              .call(d3.axisLeft(yAxis));
            graph.append("text")
              .attr("transform", "translate(" + (xAxis.range()[0]+xAxis.range()[1])/2 + ", " + (chart.dim.h-chart.dim.label.bottom) + ")")
              .style("text-anchor", "middle")
              .style("dominant-baseline", "hanging")
              .text("Epoch Number");
            graph.append("text")
              .attr("transform", `translate(${chart.dim.label.left},${(yAxis.range()[0]+yAxis.range()[1])/2}) rotate(-90)`)
              .style("text-anchor", "middle")
              .style("dominant-baseline", "baseline")
              .text("c");
            graph.selectAll(".dot")
              .data(this.gd_proc.epoch)
              .enter().append("circle")
                .attr("class", "dot")
                .attr("cx", (d,i) => xAxis(i))
                .attr("cy", d => yAxis(d.c))
                .attr("r", 5)
                .attr("fill", "#9c27b0")
                .attr("opacity", .8)
                .on("mouseover", (d,i) => {
                  let tooltip = d3.select("#chartTooltip");
                  tooltip.html(`${i}, ${Math.round(d.c*1000)/1000}`)
                    .style("left", `${d3.event.pageX-10}px`)
                    .style("top", `${d3.event.pageY-40}px`);
                  tooltip.transition()
                    .duration(200)
                    .style("opacity", 0.9);
                })
                .on("mouseout", d => {
                  d3.select("#chartTooltip")
                    .transition()
                    .duration(200)
                    .style("opacity", 0);
                });
          }
        }
      });
    </script>
  </body>
</html>