<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Wumpus World</title>
    <style>
      .search-tree-dialog { height: 90%; }
      .info-interface img { vertical-align: middle; }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container fill-height class="align-stretch">
            <v-row no-gutters>
              <v-col class="pr-5">
                <v-card elevation="3" style="height:100%" class="d-flex flex-column">
                  <v-card-title>Wumpus World</v-card-title>
                  <v-card-actions class="d-flex flex-column">
                    <v-row>
                      <v-btn icon @click="info_interface=true" title="information" large><v-icon>mdi-information</v-icon></v-btn>
                      <v-btn icon @click="restart_cave" title="restart" large><v-icon>mdi-restart</v-icon></v-btn>
                      <v-btn icon @click="regenerate_cave" title="regenerate cave" large><v-icon>mdi-restore-alert</v-icon></v-btn>
                      <v-divider></v-divider>
                      <v-btn icon v-if="!show_answer" @click="show_answer = true" title="show answers" large><v-icon>mdi-eye</v-icon></v-btn>
                      <v-btn icon v-if="show_answer" @click="show_answer = false" title="hide answers" large><v-icon>mdi-eye-off</v-icon></v-btn>
                    </v-row>
                  </v-card-actions>
                  <v-card-text class="flex-grow-1 overflow-auto" style="height:0pt">
                    <svg style="width:100%;height:100%" :view-box.camel="cave_view_box">
                      <rect :x="m_unit-0.5" :y="m_unit-0.5" :width="cave.size[0]*m_unit+1" :height="cave.size[1]*m_unit+1" fill="grey" fill-opacity="0.2" stroke="black" />
                      <!-- <rect :x="get_x_left(cave.start[0])" v-if="cave.start[0]<cave.size[0] && cave.start[1]<cave.size[1]" :y="get_y_top(cave.start[1])" :width="m_unit" :height="m_unit" fill="green" /> -->
                      
                      <image v-if="!game_over"
                        :transform="`rotate(${cave.archer.facing == 'n' ? -90 : cave.archer.facing == 's' ? 90 : 0} ${get_x_left(cave.archer.position[0])+.5*m_unit} ${get_y_top(cave.archer.position[1])+.5*m_unit}) scale(${cave.archer.facing == 'w' ? -1 : 1} 1) translate(${cave.archer.facing == 'w' ? -2*(get_x_left(cave.archer.position[0])+10)-m_unit+20 : 0} 0)`"
                        :x="get_x_left(cave.archer.position[0])+10" 
                        :y="get_y_top(cave.archer.position[1])+10" 
                        :href="cave.archer.arrow ? 'img/archer.svg' : 'img/archer.no.arrow.svg'" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                      ></image>

                      <image v-if="is_explored(cave.wumpus.position[0], cave.wumpus.position[1]) || show_answer"
                        :x="get_x_left(cave.wumpus.position[0])+10" 
                        :y="get_y_top(cave.wumpus.position[1])+10" 
                        :href="cave.wumpus.dead ? 'img/dead.wumpus.svg' : 'img/wumpus.svg'" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                      ></image>
                      
                      <image v-if="dead_wumpus_indication.show"
                        :x="get_x_left(dead_wumpus_indication.position[0])+10" 
                        :y="get_y_top(dead_wumpus_indication.position[1])+10" 
                        href="img/dead.wumpus.svg" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                      ></image>

                      <image v-if="is_explored(cave.gold[0], cave.gold[1]) || show_answer"
                        :x="get_x_left(cave.gold[0])+10" 
                        :y="get_y_top(cave.gold[1])+10" 
                        href="img/gold.svg" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                      ></image>
                      
                      <template v-for="pit,p in cave.pits">
                        <image :key="`pit${p}`" 
                          v-if="is_explored(pit[0], pit[1]) || show_answer"
                          :x="get_x_left(pit[0])+10" 
                          :y="get_y_top(pit[1])+10" 
                          href="img/pit.svg" 
                          :height="m_unit-20" 
                          :width="m_unit-20"
                        ></image>
                        <image v-for="breeze,b in [[0,1],[0,-1],[1,0],[-1,0]]" :key="`pit${p}breeze${b}`" 
                          v-if="(is_explored(pit[0]+breeze[0], pit[1]+breeze[1]) || show_answer) && (pit[0]+breeze[0])<cave.size[0] && (pit[0]+breeze[0])>-1 && (pit[1]+breeze[1])<cave.size[1] && (pit[1]+breeze[1])>-1 && !is_a_pit(pit[0]+breeze[0],pit[1]+breeze[1]) && !is_wumpus(pit[0]+breeze[0],pit[1]+breeze[1])" 
                          :x="get_x_left(pit[0]+breeze[0])+10" 
                          :y="get_y_top(pit[1]+breeze[1])+.7*m_unit" 
                          href="img/breeze.svg" 
                          :height=".3*m_unit-10" 
                          :width="m_unit-20"
                        ></image>
                      </template>
                      
                      <image v-for="stench,s in [[0,1],[0,-1],[1,0],[-1,0]]" :key="`stench${s}`" 
                        v-if="(is_explored(cave.wumpus.position[0]+stench[0], cave.wumpus.position[1]+stench[1]) || show_answer) && (cave.wumpus.position[0]+stench[0])<cave.size[0] && (cave.wumpus.position[0]+stench[0])>-1 && (cave.wumpus.position[1]+stench[1])<cave.size[1] && (cave.wumpus.position[1]+stench[1])>-1 && !is_a_pit(cave.wumpus.position[0]+stench[0],cave.wumpus.position[1]+stench[1]) && !is_wumpus(cave.wumpus.position[0]+stench[0],cave.wumpus.position[1]+stench[1])"
                        :x="get_x_left(cave.wumpus.position[0]+stench[0])+10" 
                        :y="get_y_top(cave.wumpus.position[1]+stench[1])+10" 
                        href="img/stench.svg" 
                        :height=".3*m_unit-10" 
                        :width="m_unit-20"
                      ></image>

                      <image v-if="game_over && cave.archer.dead"
                        :x="get_x_left(cave.archer.position[0])+10" 
                        :y="get_y_top(cave.archer.position[1])+10" 
                        href="img/dead.archer.svg" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                        opacity="0.5"
                      ></image>

                      <image v-if="game_over && !cave.archer.dead"
                        :x="get_x_left(cave.archer.position[0])+10" 
                        :y="get_y_top(cave.archer.position[1])+10" 
                        href="img/happy.archer.svg" 
                        :height="m_unit-20" 
                        :width="m_unit-20"
                        opacity="0.5"
                      ></image>

                      <template v-for="r,i in cave.size[1]">
                        <rect v-for="c,j in cave.size[0]" 
                          :x="get_x_left(c-1)" :y="get_y_top(r-1)" 
                          :width="m_unit" :height="m_unit" 
                          fill="grey" :fill-opacity="get_arr_str(cave.explored).includes(JSON.stringify([c-1,r-1])) ? 0 : 0.5" 
                          stroke="black" stroke-opacity=".2"
                          @click="select_cell(c-1, r-1)" 
                        />
                      </template>

                      <text v-for="c in cave.size[0]" :key="'col-label-'+c"
                        :x="get_x_center(c-1)"
                        :y="get_y_center(-1)"
                        dominant-baseline="middle" text-anchor="middle"
                      >{{ c-1 }}</text>

                      <text v-for="r in cave.size[1]" :key="'row-label-'+r"
                        :x="get_x_center(-1)"
                        :y="get_y_center(r-1)"
                        dominant-baseline="middle" text-anchor="middle"
                      >{{ r-1 }}</text>
                      
                      <text v-show="game_over && !cave.archer.dead"
                        :x="get_x_left(.5*cave.size[0])"
                        :y="get_y_top(.5*cave.size[0]-1)"
                        dominant-baseline="middle"
                        text-anchor="middle"
                        font-size="100"
                        fill="#FFEE58"
                        fill-opacity="0.5"
                        stroke="black"
                      >WIN
                        <animate ref="winWord" attributeName="font-size" values="100;1000" dur="1s" repeatCount="1"></animate>
                      </text>

                      <text v-show="game_over && !cave.archer.dead"
                        :x="get_x_left(.5*cave.size[0])"
                        :y="get_y_top(.5*cave.size[0]-1)"
                        dominant-baseline="middle"
                        text-anchor="middle"
                        font-size="100"
                        fill="#FFEE58"
                        fill-opacity="0.5"
                        stroke="black"
                      >WIN
                      </text>
                      
                      <text v-show="game_over && cave.archer.dead"
                        :x="get_x_left(.5*cave.size[0])"
                        :y="get_y_top(.5*cave.size[0]-1)"
                        dominant-baseline="middle"
                        text-anchor="middle"
                        font-size="100"
                        fill="#EF5350"
                        fill-opacity="0.5"
                        stroke="black"
                      >LOSE
                        <animate ref="loseWord" attributeName="font-size" values="100;1000" dur="1s" repeatCount="1"></animate>
                      </text>

                      <text v-show="game_over && cave.archer.dead"
                        :x="get_x_left(.5*cave.size[0])"
                        :y="get_y_top(.5*cave.size[0]-1)"
                        dominant-baseline="middle"
                        text-anchor="middle"
                        font-size="100"
                        fill="#EF5350"
                        fill-opacity="0.5"
                        stroke="black"
                      >LOSE
                      </text>
                    </svg>
                  </v-card-text>
                  <v-card-actions class="d-flex flex-column">
                    <v-row>Archer actions</v-row>
                    <v-row>
                      <v-btn icon @click="move_forward" title="move forward" large><v-icon>mdi-foot-print</v-icon></v-btn>
                      <v-btn icon @click="turn_left" title="turn left" large><v-icon>mdi-rotate-left</v-icon></v-btn>
                      <v-btn icon @click="turn_right" title="turn right" large><v-icon>mdi-rotate-right</v-icon></v-btn>
                      <v-btn icon @click="shoot_arrow" title="shoot arrow" large><v-icon>mdi-ray-start-arrow</v-icon></v-btn>
                    </v-row>
                    <v-row>Points: {{ points }}</v-row>
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col cols="3">
                <v-card elevation="3" style="height:100%" class="d-flex flex-column">
                  <v-card-title>Log</v-card-title>
                  <v-card-text class="flex-grow-1 overflow-auto" style="height:0pt">
                    <v-list dense>
                      <v-divider></v-divider>
                      <template v-for="l,i in logs">
                        <v-list-item :key="i" :class="l.type == 'error' ? 'red' : ''">
                          <v-list-item-content :title="l.text">
                            <v-list-item-title v-html="l.text" :class="l.type == 'error' ? 'white--text' : ''"></v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                      </template>
                    </v-list>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="logs=[]">Clear log</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
            <v-dialog v-model="info_interface" scrollable content-class="info-interface">
              <v-card>
                <v-card-title><v-icon>mdi-information</v-icon>&nbsp;Info</v-card-title>
                <v-card-text class="pt-3">
                  <v-expansion-panels>
                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">Purpose of the game</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        The archer <img src="img/archer.svg"> 
                        <ul>
                          <li>starts at (0,0) of the cave of room, </li>
                          <li>aiming to get the gold <img src="img/gold.svg">, </li>
                          <li>while avoiding the pits <img src="img/pit.svg"> and the wumpus <img src="img/wumpus.svg">.</li>
                        </ul>
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">Layout of cave</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        The cave is a {{ cave.size[0] }}-by-{{ cave.size[1] }} grid.
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>Component</th>
                                <th>Appearance in the cave</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>gold <img src="img/gold.svg"></td>
                                <td>1, randomly appears in cell other than (0,0)</td>
                              </tr>
                              <tr>
                                <td>wumpus <img src="img/wumpus.svg"></td>
                                <td>1, randomly appears in cell other than (0,0)</td>
                              </tr>
                              <tr>
                                <td>pits <img src="img/pit.svg"></td>
                                <td>multiple, each cell has probability of 0.2 to be a pit</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                        Gold, pit, and wumpus will not appear in the same cell, and they will not be in (0,0).
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">Senses</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        Breeze <img src="img/breeze.svg"> will be perceived when the archer <img src="img/archer.svg"> is next to a pit <img src="img/pit.svg">.
                        <svg width="100%" height="200px" viewBox="-100 300 200 300">
                          <rect v-for="cell,c in [[0,0],[0,-1],[-1,0],[0,1],[1,0]]"
                            :x="get_x_left(cell[0])" :y="get_y_top(cell[1])" 
                            :width="m_unit" :height="m_unit" 
                            fill="grey" fill-opacity=".1" 
                            stroke="black" stroke-opacity=".2"
                          ></rect>
                          <image
                            :x="get_x_left(0)+10" 
                            :y="get_y_top(0)+10" 
                            href="img/pit.svg" 
                            :height="m_unit-20" 
                            :width="m_unit-20"
                          ></image>
                          <image v-for="breeze,b in [[0,1],[0,-1],[1,0],[-1,0]]"
                            :x="get_x_left(breeze[0])+10" 
                            :y="get_y_top(breeze[1])+.7*m_unit" 
                            href="img/breeze.svg" 
                            :height=".3*m_unit-10" 
                            :width="m_unit-20"
                          ></image>
                        </svg>
                        Stench <img src="img/stench.svg"> will be perceived when the archer <img src="img/archer.svg"> is next to the wumpus <img src="img/wumpus.svg">.
                        <svg width="100%" height="200px" viewBox="-100 300 200 300">
                          <rect v-for="cell,c in [[0,0],[0,-1],[-1,0],[0,1],[1,0]]"
                            :x="get_x_left(cell[0])" :y="get_y_top(cell[1])" 
                            :width="m_unit" :height="m_unit" 
                            fill="grey" fill-opacity=".1" 
                            stroke="black" stroke-opacity=".2"
                          ></rect>
                          <image
                            :x="get_x_left(0)+10" 
                            :y="get_y_top(0)+10" 
                            href="img/wumpus.svg" 
                            :height="m_unit-20" 
                            :width="m_unit-20"
                          ></image>
                          <image v-for="stench,s in [[0,1],[0,-1],[1,0],[-1,0]]"
                            :x="get_x_left(stench[0])+10" 
                            :y="get_y_top(stench[1])+10" 
                            href="img/stench.svg" 
                            :height=".3*m_unit-10" 
                            :width="m_unit-20"
                          ></image>
                        </svg>
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">Actions</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        As the archer is the agent, only the archer can perform actions.
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>Action</th>
                                <th>Points</th>
                                <th>Keyboard shortcut</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>move forward to next room <v-icon>mdi-foot-print</v-icon></td>
                                <td>-1</td>
                                <td><v-icon>mdi-menu-up</v-icon></td>
                              </tr>
                              <tr>
                                <td>turn left by 90&deg; <v-icon>mdi-rotate-left</v-icon></td>
                                <td>-1</td>
                                <td><v-icon>mdi-menu-left</v-icon></td>
                              </tr>
                              <tr>
                                <td>turn right by 90&deg;<v-icon>mdi-rotate-right</v-icon></td>
                                <td>-1</td>
                                <td><v-icon>mdi-menu-right</v-icon></td>
                              </tr>
                              <tr>
                                <td>shoot arrow <v-icon>mdi-ray-start-arrow</v-icon></td>
                                <td>-10</td>
                                <td>spacebar</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                        If the wumpus is in one of the room that the arrow pass through, the wumpus will die. The archer has only 1 arrow.
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">End game</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        The game is over when the archer dies, or reaches the gold.
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>Event</th>
                                <th>Points</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>fall into a pit</td>
                                <td>-1000</td>
                                <td>you lose, the archer is dead</td>
                              </tr>
                              <tr>
                                <td>being eaten by the wumpus</td>
                                <td>-1000</td>
                                <td>you lose, the archer is dead</td>
                              </tr>
                              <tr>
                                <td>reach the gold</td>
                                <td>1000</td>
                                <td>you win, the archer is alive and have the gold</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header class="font-weight-bold">Other controls</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        Additional controls are as follows.
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>Control</th>
                                <th>Function</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><v-icon>mdi-information</v-icon></td>
                                <td>show this information overlay</td>
                              </tr>
                              <tr>
                                <td><v-icon>mdi-restart</v-icon></td>
                                <td>reset the game, the cave is unchanged</td>
                              </tr>
                              <tr>
                                <td><v-icon>mdi-restore-alert</v-icon></td>
                                <td>regenerate the cave</td>
                              </tr>
                              <tr>
                                <td><v-icon>mdi-eye</v-icon></td>
                                <td>show everything in the cave</td>
                              </tr>
                              <tr>
                                <td><v-icon>mdi-eye-off</v-icon></td>
                                <td>hide components in the unexplored rooms</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>

                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click.stop="info_interface=false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="main.js"></script>
  </body>
</html>