<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Perceptron Simulation</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app color="primary" dark>
        <v-toolbar-title>
          Perceptron Simulation
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="settings.show = true"><v-icon>mdi-cog</v-icon></v-btn>
      </v-app-bar>
      <v-main>
        <v-container fill-height fluid class="align-stretch pt-0 pb-0">
          <v-row no-gutters>
            <v-col class="d-flex flex-column">
              <v-row class="flex-grow-0 justify-center">
                <v-col v-for="c in controls" cols="auto" class="mx-2" :key="c.label" :title="c.label">
                  <v-row class="justify-center"><v-btn fab dark :color="c.color" elevation="2" @click="c.fcn"><v-icon>{{ c.icon }}</v-icon></v-btn></v-row>
                </v-col>
                <v-col class="d-flex align-center">
                  <v-slider hide-details label="Epoch"></v-slider>
                </v-col>
              </v-row>
              <v-row class="align-self-stretch">
                <v-col>
                  table
                </v-col>
                <v-col>
                  <v-row>
                    <v-col>
                      graph
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-dialog v-model="settings.show" scrollable>
            <v-card>
              <v-card-title>Initial values</v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-list rounded>
                  <v-list-item v-for="p in Object.keys(settings.parameters)" :key="p">
                    <v-text-field :label="p" v-model="settings.parameters[p]" hide-details></v-text-field>
                  </v-list-item>
                </v-list>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <span class="subtitle-2"><b>Note</b>: no termination condition is implemented</span>
                <v-spacer></v-spacer>
                <v-btn color="primary">Set</v-btn>
                <v-btn>Cancel</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: "#009688",
              secondary: "#80CBC4",
              accent: "#1DE9B6"
            }
          }
        }
      }),
      data: {
        controls: [{
          icon: "mdi-chevron-right",
          label: "Run 1 iter.",
          color: "secondary",
          fcn: function () { vm.runIter(); }
        },{
          icon: "mdi-play",
          label: "Run 1 epoch",
          color: "primary",
          fcn: function () { vm.runEpoch(); }
        },{
          icon: "mdi-skip-forward",
          label: "Run 10 epoch",
          color: "secondary",
          fcn: function () { vm.runEpoch(10) }
        }],
        settings: {
          show: false,
          parameters: {
            weights: [Math.random() - 0.5, Math.random() - 0.5],
            theta: Math.random() - 0.5,
            alpha: 0.1
          }
        },
        training: {
          weights: [0, 0],
          theta: 0,
          data: [
            [0, 0, 0],
            [0, 1, 0],
            [1, 0, 0],
            [1, 1, 1]
          ],
          labels: ['x1', 'x2', 'y'],
          inputs: [0, 1],
          output: 2,
          current_data_idx: 0
        },
      },
      mounted: function () {
        this.training.weights = this.settings.parameters.weights.map(x => x);
        this.training.theta = this.settings.parameters.theta;
      },
      methods: {
        activationFcn: function (X) {
          return Math.min(1, Math.max(0, Math.ceil(X)));
        },
        runIter: function (n=1) {
          [...Array(n).keys()].forEach(() => {
            dt = this.training.data[this.training.current_data_idx]
            op = this.calcOutput(dt);
            e = this.calcError(op, this.training.data[this.training.current_data_idx][this.training.output]);
            dw = this.calcWeightCorrections(dt, e);
            console.log(dt, op, e, dw);
            this.training.weights = this.training.weights.map((w,i) => w + dw[i]);
            console.log(this.training.weights);
            this.training.current_data_idx = ( this.training.current_data_idx + 1 )% this.training.data.length;
            console.log(this.training.current_data_idx);
          });
        },
        runEpoch: function (n=1) {
          [...Array(n).keys()].forEach(() => {
            this.runIter(this.training.data.length - this.training.current_data_idx);
          });
        },
        calcOutput: function (dt) {
          y = this.training.weights.reduce((acc,w,i) => { return acc + w * dt[this.training.inputs[i]]; }, 0);
          y = y - this.training.theta;
          return this.activationFcn(y);
        },
        calcError: function (calcop, expop) {
          return expop - calcop;
        },
        calcWeightCorrections: function (dt, e) {
          // console.log(dt, e, this.settings.parameters.alpha);
          return this.training.weights.map((w,i) => this.settings.parameters.alpha * dt[i] * e);
        }
      }
    })
  </script>
</body>
</html>